description = "Default layout"

[resources]
js[] = "../vendor/bootstrap/js/bootstrap.bundle.min.js"
js[] = "../vendor/jquery-easing/jquery.easing.min.js"
js[] = "resume.min.js"
sass[] = "resume.scss"

[alternateHrefLangElements]

[localePicker]
forceUrl = 0
==
<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="{{ activeLocale }}"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="{{ activeLocale }}"> <!--<![endif]-->
<head>

{% partial 'meta' %}

</head>
<body id="page-top">

{% partial 'nav' %}

<div class="container-fluid p-0">

    {% page %}

</div>

{% partial 'scripts' %}

</body>
</html>